body {
  background-color: #f2f2f2;
  color: black;
}

.container {
  /* padding: 15%; */
  text-align: center;
}

#inputField {
  border: maroon 8px solid;
  border-radius: 4px;
  width: 35%;
  height: 40px;
}

#inputButton {
  border: maroon 8px solid;
  border-radius: 4px;
  font-size: large;
  color: black;
  /* width: 40%; */
  height: 40px;
  cursor: pointer;
}

.todos {
  margin: 0%;
  cursor: pointer;
  font-size: 30px;
  text-transform: capitalize;
  line-height: 1.2;
}
